version: '3.3'
services:
  thelist_react_container:
    container_name: thelist_react_container
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - '.:/usr/src/app'
      - '/usr/src/app/src/node_modules'
    ports:
      - 3000:3000
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true #temporary fix because of a react bug : https://github.com/facebook/create-react-app/issues/8688