.HeadBarContent {
  height: 200px;
  width: 100%;
  background-color: #252525;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  '. . .'
  '. input .'
  'authors authors template'
  ;
  /* justify-items: center; */
  /* align-items: center; */
  color: white;
}

.HeadBarContent-input {
  grid-area: input;
  display: flex;
  justify-content: space-around;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.HeadBarContent-authors {
  grid-area: authors;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100%;
  padding:5px;
}

.HeadBarContent-title {
  margin:0;
	border:0;
	padding:0;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
  background: none;
  color: white;
  font-size: 42px;
  opacity: 0.8;
  line-height:1;
}

.HeadBarContent-underline {
  justify-self: start;
  align-self: start;
  position: absolute;
  width: 200%;
  right: 0;
  height: 3px;
  background-color: rgba(255,255,255,0.4);
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  top: 95px;
}

.HeadBarContent-title:focus+.HeadBarContent-underline {
  transform: scale(1);
}

.HeadBarContent-title::placeholder {
  opacity: 1;
}

.HeadBarContent-title:focus {
  outline: 0;
}

.HeadBarContent-title:focus::placeholder {
  opacity: 0;
}

.HeadBarContent-template {
  grid-area: template;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 100%;
  padding: 5px;
}