.template {

}


/* Blank Template */
.BlankTemplate {
  height: 100%;
  background-color: white;
}

.BlankTemplate > textarea {
  /* border: 0; */
  resize: none;
}


/* Custom CSS for Quill lib */
.quill {
  display: flex;
  flex-flow: column nowrap;
  height: 100%
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 0;
}

.ql-toolbar.ql-snow {
  border-bottom: 1px solid black;
  border-top: 1px solid black
}